@import "/src/styles/utils/variables";

.footer {
  background-color: $secondary-color;
  height: 209px;
  color: $primary-color;
  align-content: center;
  text-align: center;

  &__copyright {
    width: 30%;
    margin: 5px auto auto;
    font-size: $small-font-size;
  }
}