@import "/src/styles/utils/variables";
@import "/src/styles/utils/mixin";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  &__list {
    font-weight: $font-weight-medium;
    font-size: $small-font-size;
    display: flex;
    justify-content: space-between;

    &__item {
      &:hover {
        text-decoration: underline;
      }

      &--margin {
        margin-right: 20px;
      }
    }
  }
}

//---------------------------------------------------------------------------------------------------------------------
//----------------------------------------------Responsive-------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------

@include large {
  .navbar {
    height: 150px;

    &__logo {
      width: 210px;
    }

    &__list {
      font-size: $large-font-size;

      &__item {
        &--margin {
          margin-right: 60px;
        }
      }
    }
  }
}