@import "/src/styles/utils/variables";

.lodging-article {
  margin-bottom: 10px;
  position: relative;

  &__img {
    border-radius: 10px;
    height: 255px;
    width: 100%;
    object-fit: cover;
  }

  &__text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: $primary-color;
    font-size: $medium-font-size;
    font-weight: $font-weight-bold;
  }
}