@import "src/styles/utils/variables";
@import "src/styles/utils/mixin";

.stars {
  display: flex;
  gap: 5px;

  &__rating-up {
    color: $tertiary-color;
  }

  &__rating-down {
    color: #E3E3E3;
  }
}

//---------------------------------------------------------------------------------------------------------------------
//----------------------------------------------Responsive-------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------

@include large {
  .stars {
    &__rating-up, &__rating-down {
      width: 24.75px;
      height: 24px;
    }
  }
}
