@import "src/styles/utils/variables";
@import "src/styles/utils/mixin";

.stars {
  display: flex;
  gap: 5px;

  &__icon {
    font-size: $small-font-size;
  }

  &__rating-up {
    color: $tertiary-color;
  }

  &__rating-down {
    color: #E3E3E3;
  }
}

//---------------------------------------------------------------------------------------------------------------------
//----------------------------------------------Responsive-------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------

@include large {
  .stars {
    gap: 10px;

    &__icon {
      font-size: 22px;
    }
  }
}
