@import "/src/styles/utils/variables";
@import "/src/styles/utils/mixin";

.tags {
  display: flex;
  gap: 10px;
  margin-top: 15px;

  &__item {
    color: $primary-color;
    background-color: $tertiary-color;
    font-size: $small-font-size;
    font-weight: $font-weight-bold;
    padding: 5px;
    border-radius: 10px;
    max-width: 95px;
    width: 100%;
    text-align: center;
    align-content: center;
  }
}

//---------------------------------------------------------------------------------------------------------------------
//----------------------------------------------Responsive-------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------

@include large {
  .tags {
    &__item {
      font-size: 14px;
      max-width: 115px;
    }
  }
}