@import "/src/styles/utils/mixin";

.container {
  padding-inline: 20px;
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 62.5%;
  min-width: 325px;
  font-size-adjust: 0.4;
}

img {
  object-fit: cover;
}

//---------------------------------------------------------------------------------------------------------------------
//----------------------------------------------Responsive-------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------

@include large {
  .container {
    padding-inline: 80px;
  }
}