@import "/src/styles/utils/mixin";

.container {
  padding-inline: 20px;
}

img {
  object-fit: cover;
}

//---------------------------------------------------------------------------------------------------------------------
//----------------------------------------------Responsive-------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------

@include large {
  .container {
    padding-inline: 80px;
  }
}