@import "/src/styles/utils/mixin";

.container {
  padding-inline: 20px;
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  min-width: 325px;
}

img {
  object-fit: cover;
}

//---------------------------------------------------------------------------------------------------------------------
//----------------------------------------------Responsive-------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------

@include large {
  .container {
    padding-inline: 80px;
  }
}